https://image-transporter.wiki.dbbs.co,
http://image-transporter.wiki.dbbs.co {
  gzip
  proxy / images:4010 {
    transparent
  }
}

https://wiki.dbbs.co,
http://wiki.dbbs.co,
https://*.wiki.dbbs.co,
http://*.wiki.dbbs.co:80
gzip
tls {
  max_certs 4
}
proxy / farm:3000 {
  transparent
}
